.App {
  text-align: center;
  color: blueviolet;
  background-color: black;
  border-style: groove;
  border-color: coral;
  border-width: 50px
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: blueviolet;

  background-image: url('./Components/images/wil-stewart-UErWoQEoMrc-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: 20px;
  background-color: coral;
  color: blueviolet ;
}